@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
}

body {
  background-color: #4C4280;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

a:visited {
  color: #4C4280;
}